@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 35.5 91.7% 32.9%;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}
@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.pac-container {
    background-color: #0c0a09;    border: 1.5px solid #795906;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    cursor: pointer;
    padding: 8px;
}

.pac-item {
    border-top: 1px solid #0e0d0d;
    color: #e5c163;
    cursor: pointer;
    padding: 6px;
}

.pac-item:hover {
    background-color: #333;
    border-radius: 1em;
}

.pac-item-selected,
.pac-item-selected:hover {
    background-color: #444;
        border-radius: 1em;
}

.pac-matched {
    font-weight: 700;
}

.pac-item-query {
    color: #e5c163;
}

.pac-placeholder {
    color: #999;
}

.pac-container:after {
    content: none !important;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }

    70% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}
